
src/config/__pycache__/
src/cli/__pycache__/
src/util/rdkit_postgresql/__pycache__/
src/util/__pycache__/
src/util/squeue/__pycache__/
src/__pycache__/
src/util/agent/__pycache__/
workpath/

.env
test.md
