asttokens==3.0.1
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
edgembar==3.0
executing==2.2.1
greenlet==3.3.2
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
linkify-it-py==2.1.0
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
ndfes==3.0
nest-asyncio==1.6.0
numpy==2.4.4
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
pandas==3.0.2
parso==0.8.6
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.4
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyzmq==27.1.0
rdkit==2025.9.6
rich==14.3.3
setuptools==80.10.2
six==1.17.0
SQLAlchemy==2.0.48
stack-data==0.6.3
textual==8.2.1
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
typing_extensions==4.15.0
uc-micro-py==2.0.0
wcwidth==0.6.0
wheel==0.46.3
